.counter {
  margin: 0.5rem;
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  &:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  figure {
    width: 100%;
    height: 100%;
    padding: 10px;
    svg {
      width: 60%;
      height: 100%;
      color: white;
    }
  }
  &__info {
    background: #f0eef1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    padding: 0.2rem 0;
    p {
      line-height: 100%;
    }
    p.number {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
