.counter {
  margin: 0.3rem;
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  figure {
    width: 100%;
    height: 60%;
    svg {
      width: 60%;
      color: white;
    }
  }
  &__info {
    background: #f0eef1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    padding: 0.2rem 0;
    p {
      line-height: 100%;
    }
    p.number {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}

figure.email {
  background: #007fd0;
}
