.dashboard {
  width: 100%;
  h2 {
    margin: 0.3rem 2rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .counters {
    margin: 0 1.5rem;
    width: 100%;
    display: flex;
  }
  .charts {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 18%);
    grid-template-rows: repeat(2, 30%);
    grid-gap: 1rem;
    margin: 0.5rem 2rem;
    .chart {
      border-radius: 6px;
      position: relative;
      grid-column: 4 / 6;
      grid-row: 1 / 2;
      padding: 20px;
      color: #fff;
      svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
      }
      &:first-child {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
      }
      &:last-child {
        grid-column: 4 / 6;
        grid-row: 2 / 3;
      }
      .chart-icon {
        width: 100%;
        height: 100%;
      }
      span {
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0.3rem 1rem;
      }
    }
  }
}
