header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #01406b;
  h2 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-left: 1rem;
  }
  button {
    padding: 0.4rem 1rem;
    margin-right: 1rem;
    color: white;
    background: red;
    border-radius: 6px;
    border: none;
  }
}
