header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #01406b;
  h2 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-left: 1rem;
  }
  aside {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.3rem 1rem;
    margin-right: 1rem;
    color: white;
    background: red;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    &:hover {
      transition: transform 50ms ease-in-out;
      transform: scale(1.05);
    }
    .logout-icon {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 5px;
    }
  }
}
