nav {
  flex-shrink: 0;
  width: 220px;
  height: 100%;
  background: #007fd0;
  transition: all 500ms ease-in-out;
  position: absolute;
  .nav-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    li {
      font-weight: 300;
      font-size: 0.9rem;
    }
    .nav-icon {
      margin-right: 10px;
    }
    .action-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .nav-item.main-nav {
    background: #007fd0;
    transition: background 50ms ease-in-out;
    &:hover {
      background: #0393ec;
    }
  }
  .nav-item.sub-nav {
    background: #00609d;
    transition: background 50ms ease-in-out;
    &:hover {
      background: #014670;
    }
  }
}
span.nav-toggle {
  position: absolute;
  z-index: 999;
  bottom: 10px;
  right: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg {
    transform: scale(1.2);
  }
}
